apiVersion: v1
kind: Service
metadata:
  name: config-svc
  labels:
    name: config-pod
    app: config-service
spec:
  ports:
    - protocol: TCP
      port: 9999
      targetPort: 9999
  selector:
    name: config-pod
    app: config-service
